body{
    background-color: #080808;
}
.city{
    color: #0D6EFD;
}
h1{
    color: #fff;
}
li{
    color: #FFFFFF8C;
}
img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
h2{
    color: #fff;
}
th,td{
    color: #fff;
}
.footer{
    color: #FFFFFF8C;
    text-decoration: none;
    
}
.footer a{
    color: #0D6EFD;
    font-weight: 700;
}
.f-city{
    border: none;
    font-size: large;
    background-color: #080808;
    color: #fff;
    border-radius: 4px;
}
.dropdown-menu{
    background-color: #080808;
}